//mainly used in forms
$primaryColor:#ff6c52;
$primaryColorText:#ffffff;
$primaryDarkColor:#ec4123;
$primaryDarkColorText:#ffffff;
$primaryDarkAltColor:#fc5133;
$primaryDarkAltColorText:#ffffff;
$primaryDarkerColor:#b92910;
$primaryDarkerColorText:#ffffff;
$primaryLightColor:#fea899;
$primaryLightColorText:#333333;

//highlighted content
$secondaryColor:#85ecff;
$secondaryColorText:#333333;
$secondaryDarkColor:#41b7cc;
$secondaryDarkColorText:#333333;

//headers
$containerHeaderBgColor:#333333;
$containerHeaderBorder:1px solid #333333;
$containerHeaderTextColor:#ffffff;
$containerHeaderIconColor:#d6d6d6;
$containerHeaderIconHoverColor:#ffffff;

$containerHeaderHoverBgColor:#282828;
$containerHeaderHoverBorder:1px solid #282828;
$containerHeaderHoverTextColor:#ffffff;
$containerHeaderHoverIconColor:#ffffff;

$containerHeaderActiveBgColor:$primaryColor;
$containerHeaderActiveBorder:1px solid $primaryColor;
$containerHeaderActiveTextColor:$primaryColorText;
$containerHeaderActiveIconColor:$primaryColorText;

$containerHeaderActiveHoverBgColor:$primaryDarkColor;
$containerHeaderActiveHoverHoverBorder:1px solid $primaryDarkColor;
$containerHeaderActiveHoverrTextColor:$primaryDarkColorText;
$containerHeaderActiveHoverIconColor:$primaryDarkColorText;

@import '../sass/theme/_theme';