//mainly used in forms
$primaryColor:#aa58b1;
$primaryColorText:#ffffff;
$primaryDarkColor:#8c3493;
$primaryDarkColorText:#ffffff;
$primaryDarkAltColor:#9c47a3;
$primaryDarkAltColorText:#ffffff;
$primaryDarkerColor:#77217e;
$primaryDarkerColorText:#ffffff;
$primaryLightColor:#d199d6;
$primaryLightColorText:#333333;

//highlighted content
$secondaryColor:#94cd8f;
$secondaryColorText:#333333;
$secondaryDarkColor:#7ec078;
$secondaryDarkColorText:#333333;

//headers
$containerHeaderBgColor:$primaryColor;
$containerHeaderBorder:1px solid $primaryColor;
$containerHeaderTextColor:$primaryColorText;
$containerHeaderIconColor:$primaryLightColor;
$containerHeaderIconHoverColor:lighten($primaryLightColor, 15%);

$containerHeaderHoverBgColor:$primaryDarkColor;
$containerHeaderHoverBorder:1px solid $primaryDarkColor;
$containerHeaderHoverTextColor:$primaryDarkColorText;
$containerHeaderHoverIconColor:$primaryDarkColorText;

$containerHeaderActiveBgColor:$secondaryColor;
$containerHeaderActiveBorder:1px solid $secondaryColor;
$containerHeaderActiveTextColor:$primaryLightColorText;
$containerHeaderActiveIconColor:$primaryLightColorText;

$containerHeaderActiveHoverBgColor:$secondaryDarkColor;
$containerHeaderActiveHoverHoverBorder:1px solid $secondaryDarkColor;
$containerHeaderActiveHoverrTextColor:$secondaryDarkColorText;
$containerHeaderActiveHoverIconColor:$secondaryDarkColorText;

@import '../sass/theme/_theme';