//mainly used in forms
$primaryColor:#0084a1;
$primaryColorText:#ffffff;
$primaryDarkColor:#0e5b6b;
$primaryDarkColorText:#ffffff;
$primaryDarkAltColor:#086d83;
$primaryDarkAltColorText:#ffffff;
$primaryDarkerColor:#144955;
$primaryDarkerColorText:#ffffff;
$primaryLightColor:#46ddff;
$primaryLightColorText:#333333;

//highlighted content
$secondaryColor:#f4df60;
$secondaryColorText:#333333;
$secondaryDarkColor:#bfae46;
$secondaryDarkColorText:#333333;

//headers
$containerHeaderBgColor:#333333;
$containerHeaderBorder:1px solid #333333;
$containerHeaderTextColor:#ffffff;
$containerHeaderIconColor:#d6d6d6;
$containerHeaderIconHoverColor:#ffffff;

$containerHeaderHoverBgColor:#282828;
$containerHeaderHoverBorder:1px solid #282828;
$containerHeaderHoverTextColor:#ffffff;
$containerHeaderHoverIconColor:#ffffff;

$containerHeaderActiveBgColor:$primaryColor;
$containerHeaderActiveBorder:1px solid $primaryColor;
$containerHeaderActiveTextColor:$primaryColorText;
$containerHeaderActiveIconColor:$primaryColorText;

$containerHeaderActiveHoverBgColor:$primaryDarkColor;
$containerHeaderActiveHoverHoverBorder:1px solid $primaryDarkColor;
$containerHeaderActiveHoverrTextColor:$primaryDarkColorText;
$containerHeaderActiveHoverIconColor:$primaryDarkColorText;

@import '../sass/theme/_theme';