//mainly used in forms
$primaryColor:#ca5861;
$primaryColorText:#ffffff;
$primaryDarkColor:#a42d37;
$primaryDarkColorText:#ffffff;
$primaryDarkAltColor:#b73d47;
$primaryDarkAltColorText:#ffffff;
$primaryDarkerColor:#6e1f26;
$primaryDarkerColorText:#ffffff;
$primaryLightColor:#ee9ca2;
$primaryLightColorText:#333333;

//highlighted content
$secondaryColor:#8ad9d3;
$secondaryColorText:#333333;
$secondaryDarkColor:#5ebab3;
$secondaryDarkColorText:#333333;

//headers
$containerHeaderBgColor:#f4f4f4;
$containerHeaderBorder:1px solid #c8c8c8;
$containerHeaderTextColor:#333333;
$containerHeaderIconColor:#848484;
$containerHeaderIconHoverColor:#333333;

$containerHeaderHoverBgColor:#dbdbdb;
$containerHeaderHoverBorder:1px solid #dbdbdb;
$containerHeaderHoverTextColor:#333333;
$containerHeaderHoverIconColor:#333333;

$containerHeaderActiveBgColor:$primaryColor;
$containerHeaderActiveBorder:1px solid $primaryColor;
$containerHeaderActiveTextColor:$primaryColorText;
$containerHeaderActiveIconColor:$primaryColorText;

$containerHeaderActiveHoverBgColor:$primaryDarkColor;
$containerHeaderActiveHoverHoverBorder:1px solid $primaryDarkColor;
$containerHeaderActiveHoverrTextColor:$primaryDarkColorText;
$containerHeaderActiveHoverIconColor:$primaryDarkColorText;

@import '../sass/theme/_theme';