//mainly used in forms
$primaryColor:#5d2f92;
$primaryColorText:#ffffff;
$primaryDarkColor:#422a5d;
$primaryDarkColorText:#ffffff;
$primaryDarkAltColor:#4d2e70;
$primaryDarkAltColorText:#ffffff;
$primaryDarkerColor:#352548;
$primaryDarkerColorText:#ffffff;
$primaryLightColor:#a579d8;
$primaryLightColorText:#333333;

//highlighted content
$secondaryColor:#fdd88b;
$secondaryColorText:#333333;
$secondaryDarkColor:#f5ba3f;
$secondaryDarkColorText:#333333;

//headers
$containerHeaderBgColor:#333333;
$containerHeaderBorder:1px solid #333333;
$containerHeaderTextColor:#ffffff;
$containerHeaderIconColor:#d6d6d6;
$containerHeaderIconHoverColor:#ffffff;

$containerHeaderHoverBgColor:#282828;
$containerHeaderHoverBorder:1px solid #282828;
$containerHeaderHoverTextColor:#ffffff;
$containerHeaderHoverIconColor:#ffffff;

$containerHeaderActiveBgColor:$primaryColor;
$containerHeaderActiveBorder:1px solid $primaryColor;
$containerHeaderActiveTextColor:$primaryColorText;
$containerHeaderActiveIconColor:$primaryColorText;

$containerHeaderActiveHoverBgColor:$primaryDarkColor;
$containerHeaderActiveHoverHoverBorder:1px solid $primaryDarkColor;
$containerHeaderActiveHoverrTextColor:$primaryDarkColorText;
$containerHeaderActiveHoverIconColor:$primaryDarkColorText;

@import '../sass/theme/_theme';