//mainly used in forms
$primaryColor:#5a576d;
$primaryColorText:#ffffff;
$primaryDarkColor:#2f2d3d;
$primaryDarkColorText:#ffffff;
$primaryDarkAltColor:#434055;
$primaryDarkAltColorText:#ffffff;
$primaryDarkerColor:#16151d;
$primaryDarkerColorText:#ffffff;
$primaryLightColor:#b5b3be;
$primaryLightColorText:#333333;

//highlighted content
$secondaryColor:#c3c4bb;
$secondaryColorText:#333333;
$secondaryDarkColor:#969889;
$secondaryDarkColorText:#333333;

//headers
$containerHeaderBgColor:$primaryColor;
$containerHeaderBorder:1px solid $primaryColor;
$containerHeaderTextColor:$primaryColorText;
$containerHeaderIconColor:$primaryLightColor;
$containerHeaderIconHoverColor:lighten($primaryLightColor, 15%);

$containerHeaderHoverBgColor:$primaryDarkColor;
$containerHeaderHoverBorder:1px solid $primaryDarkColor;
$containerHeaderHoverTextColor:$primaryDarkColorText;
$containerHeaderHoverIconColor:$primaryDarkColorText;

$containerHeaderActiveBgColor:$secondaryColor;
$containerHeaderActiveBorder:1px solid $secondaryColor;
$containerHeaderActiveTextColor:$primaryLightColorText;
$containerHeaderActiveIconColor:$primaryLightColorText;

$containerHeaderActiveHoverBgColor:$secondaryDarkColor;
$containerHeaderActiveHoverHoverBorder:1px solid $secondaryDarkColor;
$containerHeaderActiveHoverrTextColor:$secondaryDarkColorText;
$containerHeaderActiveHoverIconColor:$secondaryDarkColorText;

@import '../sass/theme/_theme';