//mainly used in forms
$primaryColor:#5a576d;
$primaryColorText:#ffffff;
$primaryDarkColor:#2f2d3d;
$primaryDarkColorText:#ffffff;
$primaryDarkAltColor:#434055;
$primaryDarkAltColorText:#ffffff;
$primaryDarkerColor:#16151d;
$primaryDarkerColorText:#ffffff;
$primaryLightColor:#b5b3be;
$primaryLightColorText:#333333;

//highlighted content
$secondaryColor:#c3c4bb;
$secondaryColorText:#333333;
$secondaryDarkColor:#969889;
$secondaryDarkColorText:#333333;

//headers
$containerHeaderBgColor:#f4f4f4;
$containerHeaderBorder:1px solid #c8c8c8;
$containerHeaderTextColor:#333333;
$containerHeaderIconColor:#848484;
$containerHeaderIconHoverColor:#333333;

$containerHeaderHoverBgColor:#dbdbdb;
$containerHeaderHoverBorder:1px solid #dbdbdb;
$containerHeaderHoverTextColor:#333333;
$containerHeaderHoverIconColor:#333333;

$containerHeaderActiveBgColor:$primaryColor;
$containerHeaderActiveBorder:1px solid $primaryColor;
$containerHeaderActiveTextColor:$primaryColorText;
$containerHeaderActiveIconColor:$primaryColorText;

$containerHeaderActiveHoverBgColor:$primaryDarkColor;
$containerHeaderActiveHoverHoverBorder:1px solid $primaryDarkColor;
$containerHeaderActiveHoverrTextColor:$primaryDarkColorText;
$containerHeaderActiveHoverIconColor:$primaryDarkColorText;

@import '../sass/theme/_theme';