//mainly used in forms
$primaryColor:#cd596c;
$primaryColorText:#ffffff;
$primaryDarkColor:#ab3548;
$primaryDarkColorText:#ffffff;
$primaryDarkAltColor:#bf4458;
$primaryDarkAltColorText:#ffffff;
$primaryDarkerColor:#8a2233;
$primaryDarkerColorText:#ffffff;
$primaryLightColor:#e59ba7;
$primaryLightColorText:#333333;

//highlighted content
$secondaryColor:#8adcce;
$secondaryColorText:#333333;
$secondaryDarkColor:#53b6a5;
$secondaryDarkColorText:#333333;

//headers
$containerHeaderBgColor:#333333;
$containerHeaderBorder:1px solid #333333;
$containerHeaderTextColor:#ffffff;
$containerHeaderIconColor:#d6d6d6;
$containerHeaderIconHoverColor:#ffffff;

$containerHeaderHoverBgColor:#282828;
$containerHeaderHoverBorder:1px solid #282828;
$containerHeaderHoverTextColor:#ffffff;
$containerHeaderHoverIconColor:#ffffff;

$containerHeaderActiveBgColor:$primaryColor;
$containerHeaderActiveBorder:1px solid $primaryColor;
$containerHeaderActiveTextColor:$primaryColorText;
$containerHeaderActiveIconColor:$primaryColorText;

$containerHeaderActiveHoverBgColor:$primaryDarkColor;
$containerHeaderActiveHoverHoverBorder:1px solid $primaryDarkColor;
$containerHeaderActiveHoverrTextColor:$primaryDarkColorText;
$containerHeaderActiveHoverIconColor:$primaryDarkColorText;

@import '../sass/theme/_theme';