//mainly used in forms
$primaryColor:#7167c4;
$primaryColorText:#ffffff;
$primaryDarkColor:#4e458e;
$primaryDarkColorText:#ffffff;
$primaryDarkAltColor:#5c52a2;
$primaryDarkAltColorText:#ffffff;
$primaryDarkerColor:#373161;
$primaryDarkerColorText:#ffffff;
$primaryLightColor:#bfb8f9;
$primaryLightColorText:#333333;

//highlighted content
$secondaryColor:#f9bdd1;
$secondaryColorText:#333333;
$secondaryDarkColor:#f686ab;
$secondaryDarkColorText:#333333;

//headers
$containerHeaderBgColor:$primaryColor;
$containerHeaderBorder:1px solid $primaryColor;
$containerHeaderTextColor:$primaryColorText;
$containerHeaderIconColor:$primaryLightColor;
$containerHeaderIconHoverColor:lighten($primaryLightColor, 15%);

$containerHeaderHoverBgColor:$primaryDarkColor;
$containerHeaderHoverBorder:1px solid $primaryDarkColor;
$containerHeaderHoverTextColor:$primaryDarkColorText;
$containerHeaderHoverIconColor:$primaryDarkColorText;

$containerHeaderActiveBgColor:$secondaryColor;
$containerHeaderActiveBorder:1px solid $secondaryColor;
$containerHeaderActiveTextColor:$primaryLightColorText;
$containerHeaderActiveIconColor:$primaryLightColorText;

$containerHeaderActiveHoverBgColor:$secondaryDarkColor;
$containerHeaderActiveHoverHoverBorder:1px solid $secondaryDarkColor;
$containerHeaderActiveHoverrTextColor:$secondaryDarkColorText;
$containerHeaderActiveHoverIconColor:$secondaryDarkColorText;

@import '../sass/theme/_theme';