<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>3</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>403</error-code>
        <location>/loginerror_1.xhtml</location>
    </error-page>
  <!--  <security-constraint>
        <display-name>AccesContribuable</display-name>
        <web-resource-collection>
            <web-resource-name>declaration</web-resource-name>
            <description>déclaration fiscale</description>
            <url-pattern>/vues/tEntDeclaration/DeclarationFiscal.xhtml</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <display-name>AccesStatutContrib</display-name>
        <web-resource-collection>
            <web-resource-name>MAJStatutindividuel</web-resource-name>
            <description/>
            <url-pattern>/vues/tRepUnique/MAJIndividuelle.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>MAJStatutCollective</web-resource-name>
            <description/>
            <url-pattern>/vues/tRepUnique/MAJCollective.xhtml</url-pattern>
        </web-resource-collection>
    </security-constraint>
--> <!--   <security-role>
        <description>Profil des contribuables pour déclaration</description>
        <role-name>CONTRIBUABLE</role-name>
    </security-role>
    <security-role>
        <description>Profil des inspecteurs pour contrôler</description>
        <role-name>INSPECTEUR</role-name>
    </security-role>
    <security-role>
        <description>Administrateur</description>
        <role-name>ADMIN</role-name>
    </security-role>
    <security-role>
        <description>Inspecteur chargé de mettre à jour l'état activé ou désactivé d'un contribuable</description>
        <role-name>INSPECTMAJ</role-name>
    </security-role>
    -->
</web-app>
