//mainly used in forms
$primaryColor:#cd596c;
$primaryColorText:#ffffff;
$primaryDarkColor:#ab3548;
$primaryDarkColorText:#ffffff;
$primaryDarkAltColor:#bf4458;
$primaryDarkAltColorText:#ffffff;
$primaryDarkerColor:#8a2233;
$primaryDarkerColorText:#ffffff;
$primaryLightColor:#e59ba7;
$primaryLightColorText:#333333;

//highlighted content
$secondaryColor:#8adcce;
$secondaryColorText:#333333;
$secondaryDarkColor:#53b6a5;
$secondaryDarkColorText:#333333;

//headers
$containerHeaderBgColor:$primaryColor;
$containerHeaderBorder:1px solid $primaryColor;
$containerHeaderTextColor:$primaryColorText;
$containerHeaderIconColor:$primaryLightColor;
$containerHeaderIconHoverColor:lighten($primaryLightColor, 15%);

$containerHeaderHoverBgColor:$primaryDarkColor;
$containerHeaderHoverBorder:1px solid $primaryDarkColor;
$containerHeaderHoverTextColor:$primaryDarkColorText;
$containerHeaderHoverIconColor:$primaryDarkColorText;

$containerHeaderActiveBgColor:$secondaryColor;
$containerHeaderActiveBorder:1px solid $secondaryColor;
$containerHeaderActiveTextColor:$primaryLightColorText;
$containerHeaderActiveIconColor:$primaryLightColorText;

$containerHeaderActiveHoverBgColor:$secondaryDarkColor;
$containerHeaderActiveHoverHoverBorder:1px solid $secondaryDarkColor;
$containerHeaderActiveHoverrTextColor:$secondaryDarkColorText;
$containerHeaderActiveHoverIconColor:$secondaryDarkColorText;

@import '../sass/theme/_theme';