//mainly used in forms
$primaryColor:#0084a1;
$primaryColorText:#ffffff;
$primaryDarkColor:#0e5b6b;
$primaryDarkColorText:#ffffff;
$primaryDarkAltColor:#086d83;
$primaryDarkAltColorText:#ffffff;
$primaryDarkerColor:#144955;
$primaryDarkerColorText:#ffffff;
$primaryLightColor:#46ddff;
$primaryLightColorText:#333333;

//highlighted content
$secondaryColor:#f4df60;
$secondaryColorText:#333333;
$secondaryDarkColor:#bfae46;
$secondaryDarkColorText:#333333;

//headers
$containerHeaderBgColor:#f4f4f4;
$containerHeaderBorder:1px solid #c8c8c8;
$containerHeaderTextColor:#333333;
$containerHeaderIconColor:#848484;
$containerHeaderIconHoverColor:#333333;

$containerHeaderHoverBgColor:#dbdbdb;
$containerHeaderHoverBorder:1px solid #dbdbdb;
$containerHeaderHoverTextColor:#333333;
$containerHeaderHoverIconColor:#333333;

$containerHeaderActiveBgColor:$primaryColor;
$containerHeaderActiveBorder:1px solid $primaryColor;
$containerHeaderActiveTextColor:$primaryColorText;
$containerHeaderActiveIconColor:$primaryColorText;

$containerHeaderActiveHoverBgColor:$primaryDarkColor;
$containerHeaderActiveHoverHoverBorder:1px solid $primaryDarkColor;
$containerHeaderActiveHoverrTextColor:$primaryDarkColorText;
$containerHeaderActiveHoverIconColor:$primaryDarkColorText;

@import '../sass/theme/_theme';