//mainly used in forms
$primaryColor:#8753c8;
$primaryColorText:#ffffff;
$primaryDarkColor:#5f27a3;
$primaryDarkColorText:#ffffff;
$primaryDarkAltColor:#743db7;
$primaryDarkAltColorText:#ffffff;
$primaryDarkerColor:#441c75;
$primaryDarkerColorText:#ffffff;
$primaryLightColor:#c5a7ea;
$primaryLightColorText:#333333;

//highlighted content
$secondaryColor:#84e8f2;
$secondaryColorText:#333333;
$secondaryDarkColor:#47beca;
$secondaryDarkColorText:#333333;

//headers
$containerHeaderBgColor:#f4f4f4;
$containerHeaderBorder:1px solid #c8c8c8;
$containerHeaderTextColor:#333333;
$containerHeaderIconColor:#848484;
$containerHeaderIconHoverColor:#333333;

$containerHeaderHoverBgColor:#dbdbdb;
$containerHeaderHoverBorder:1px solid #dbdbdb;
$containerHeaderHoverTextColor:#333333;
$containerHeaderHoverIconColor:#333333;

$containerHeaderActiveBgColor:$primaryColor;
$containerHeaderActiveBorder:1px solid $primaryColor;
$containerHeaderActiveTextColor:$primaryColorText;
$containerHeaderActiveIconColor:$primaryColorText;

$containerHeaderActiveHoverBgColor:$primaryDarkColor;
$containerHeaderActiveHoverHoverBorder:1px solid $primaryDarkColor;
$containerHeaderActiveHoverrTextColor:$primaryDarkColorText;
$containerHeaderActiveHoverIconColor:$primaryDarkColorText;

@import '../sass/theme/_theme';
