//mainly used in forms
$primaryColor:#8753c8;
$primaryColorText:#ffffff;
$primaryDarkColor:#5f27a3;
$primaryDarkColorText:#ffffff;
$primaryDarkAltColor:#743db7;
$primaryDarkAltColorText:#ffffff;
$primaryDarkerColor:#441c75;
$primaryDarkerColorText:#ffffff;
$primaryLightColor:#c5a7ea;
$primaryLightColorText:#333333;

//highlighted content
$secondaryColor:#84e8f2;
$secondaryColorText:#333333;
$secondaryDarkColor:#47beca;
$secondaryDarkColorText:#333333;

//headers
$containerHeaderBgColor:#333333;
$containerHeaderBorder:1px solid #333333;
$containerHeaderTextColor:#ffffff;
$containerHeaderIconColor:#d6d6d6;
$containerHeaderIconHoverColor:#ffffff;

$containerHeaderHoverBgColor:#282828;
$containerHeaderHoverBorder:1px solid #282828;
$containerHeaderHoverTextColor:#ffffff;
$containerHeaderHoverIconColor:#ffffff;

$containerHeaderActiveBgColor:$primaryColor;
$containerHeaderActiveBorder:1px solid $primaryColor;
$containerHeaderActiveTextColor:$primaryColorText;
$containerHeaderActiveIconColor:$primaryColorText;

$containerHeaderActiveHoverBgColor:$primaryDarkColor;
$containerHeaderActiveHoverHoverBorder:1px solid $primaryDarkColor;
$containerHeaderActiveHoverrTextColor:$primaryDarkColorText;
$containerHeaderActiveHoverIconColor:$primaryDarkColorText;

@import '../sass/theme/_theme';
