//mainly used in forms
$primaryColor:#eb6e65;
$primaryColorText:#ffffff;
$primaryDarkColor:#d14036;
$primaryDarkColorText:#ffffff;
$primaryDarkAltColor:#e1584e;
$primaryDarkAltColorText:#ffffff;
$primaryDarkerColor:#a22118;
$primaryDarkerColorText:#ffffff;
$primaryLightColor:#f0b1ad;
$primaryLightColorText:#333333;

//highlighted content
$secondaryColor:#84e9f0;
$secondaryColorText:#333333;
$secondaryDarkColor:#3ec1ca;
$secondaryDarkColorText:#333333;

//headers
$containerHeaderBgColor:#f4f4f4;
$containerHeaderBorder:1px solid #c8c8c8;
$containerHeaderTextColor:#333333;
$containerHeaderIconColor:#848484;
$containerHeaderIconHoverColor:#333333;

$containerHeaderHoverBgColor:#dbdbdb;
$containerHeaderHoverBorder:1px solid #dbdbdb;
$containerHeaderHoverTextColor:#333333;
$containerHeaderHoverIconColor:#333333;

$containerHeaderActiveBgColor:$primaryColor;
$containerHeaderActiveBorder:1px solid $primaryColor;
$containerHeaderActiveTextColor:$primaryColorText;
$containerHeaderActiveIconColor:$primaryColorText;

$containerHeaderActiveHoverBgColor:$primaryDarkColor;
$containerHeaderActiveHoverHoverBorder:1px solid $primaryDarkColor;
$containerHeaderActiveHoverrTextColor:$primaryDarkColorText;
$containerHeaderActiveHoverIconColor:$primaryDarkColorText;

@import '../sass/theme/_theme';