//mainly used in forms
$primaryColor:#617e76;
$primaryColorText:#ffffff;
$primaryDarkColor:#36514a;
$primaryDarkColorText:#ffffff;
$primaryDarkAltColor:#435f57;
$primaryDarkAltColorText:#ffffff;
$primaryDarkerColor:#263c36;
$primaryDarkerColorText:#ffffff;
$primaryLightColor:#abccc2;
$primaryLightColorText:#333333;

//highlighted content
$secondaryColor:#caa4b0;
$secondaryColorText:#333333;
$secondaryDarkColor:#b48090;
$secondaryDarkColorText:#333333;

//headers
$containerHeaderBgColor:#333333;
$containerHeaderBorder:1px solid #333333;
$containerHeaderTextColor:#ffffff;
$containerHeaderIconColor:#d6d6d6;
$containerHeaderIconHoverColor:#ffffff;

$containerHeaderHoverBgColor:#282828;
$containerHeaderHoverBorder:1px solid #282828;
$containerHeaderHoverTextColor:#ffffff;
$containerHeaderHoverIconColor:#ffffff;

$containerHeaderActiveBgColor:$primaryColor;
$containerHeaderActiveBorder:1px solid $primaryColor;
$containerHeaderActiveTextColor:$primaryColorText;
$containerHeaderActiveIconColor:$primaryColorText;

$containerHeaderActiveHoverBgColor:$primaryDarkColor;
$containerHeaderActiveHoverHoverBorder:1px solid $primaryDarkColor;
$containerHeaderActiveHoverrTextColor:$primaryDarkColorText;
$containerHeaderActiveHoverIconColor:$primaryDarkColorText;

@import '../sass/theme/_theme';