//mainly used in forms
$primaryColor:#005a9e;
$primaryColorText:#ffffff;
$primaryDarkColor:#073f69;
$primaryDarkColorText:#ffffff;
$primaryDarkAltColor:#03487c;
$primaryDarkAltColorText:#ffffff;
$primaryDarkerColor:#102f46;
$primaryDarkerColorText:#ffffff;
$primaryLightColor:#61ade8;
$primaryLightColorText:#333333;

//highlighted content
$secondaryColor:#ffd86d;
$secondaryColorText:#333333;
$secondaryDarkColor:#ffb900;
$secondaryDarkColorText:#333333;

//headers
$containerHeaderBgColor:#f4f4f4;
$containerHeaderBorder:1px solid #c8c8c8;
$containerHeaderTextColor:#333333;
$containerHeaderIconColor:#848484;
$containerHeaderIconHoverColor:#333333;

$containerHeaderHoverBgColor:#dbdbdb;
$containerHeaderHoverBorder:1px solid #dbdbdb;
$containerHeaderHoverTextColor:#333333;
$containerHeaderHoverIconColor:#333333;

$containerHeaderActiveBgColor:$primaryColor;
$containerHeaderActiveBorder:1px solid $primaryColor;
$containerHeaderActiveTextColor:$primaryColorText;
$containerHeaderActiveIconColor:$primaryColorText;

$containerHeaderActiveHoverBgColor:$primaryDarkColor;
$containerHeaderActiveHoverHoverBorder:1px solid $primaryDarkColor;
$containerHeaderActiveHoverrTextColor:$primaryDarkColorText;
$containerHeaderActiveHoverIconColor:$primaryDarkColorText;

@import '../sass/theme/_theme';