//mainly used in forms
$primaryColor:#ff6c52;
$primaryColorText:#ffffff;
$primaryDarkColor:#ec4123;
$primaryDarkColorText:#ffffff;
$primaryDarkAltColor:#fc5133;
$primaryDarkAltColorText:#ffffff;
$primaryDarkerColor:#b92910;
$primaryDarkerColorText:#ffffff;
$primaryLightColor:#fea899;
$primaryLightColorText:#333333;

//highlighted content
$secondaryColor:#85ecff;
$secondaryColorText:#333333;
$secondaryDarkColor:#41b7cc;
$secondaryDarkColorText:#333333;

//headers
$containerHeaderBgColor:#f4f4f4;
$containerHeaderBorder:1px solid #c8c8c8;
$containerHeaderTextColor:#333333;
$containerHeaderIconColor:#848484;
$containerHeaderIconHoverColor:#333333;

$containerHeaderHoverBgColor:#dbdbdb;
$containerHeaderHoverBorder:1px solid #dbdbdb;
$containerHeaderHoverTextColor:#333333;
$containerHeaderHoverIconColor:#333333;

$containerHeaderActiveBgColor:$primaryColor;
$containerHeaderActiveBorder:1px solid $primaryColor;
$containerHeaderActiveTextColor:$primaryColorText;
$containerHeaderActiveIconColor:$primaryColorText;

$containerHeaderActiveHoverBgColor:$primaryDarkColor;
$containerHeaderActiveHoverHoverBorder:1px solid $primaryDarkColor;
$containerHeaderActiveHoverrTextColor:$primaryDarkColorText;
$containerHeaderActiveHoverIconColor:$primaryDarkColorText;

@import '../sass/theme/_theme';