//mainly used in forms
$primaryColor:#df608c;
$primaryColorText:#ffffff;
$primaryDarkColor:#bb2c5e;
$primaryDarkColorText:#ffffff;
$primaryDarkAltColor:#cd4172;
$primaryDarkAltColorText:#ffffff;
$primaryDarkerColor:#872044;
$primaryDarkerColorText:#ffffff;
$primaryLightColor:#eca7bf;
$primaryLightColorText:#333333;

//highlighted content
$secondaryColor:#fdd88b;
$secondaryColorText:#333333;
$secondaryDarkColor:#f5bd47;
$secondaryDarkColorText:#333333;

//headers
$containerHeaderBgColor:#333333;
$containerHeaderBorder:1px solid #333333;
$containerHeaderTextColor:#ffffff;
$containerHeaderIconColor:#d6d6d6;
$containerHeaderIconHoverColor:#ffffff;

$containerHeaderHoverBgColor:#282828;
$containerHeaderHoverBorder:1px solid #282828;
$containerHeaderHoverTextColor:#ffffff;
$containerHeaderHoverIconColor:#ffffff;

$containerHeaderActiveBgColor:$primaryColor;
$containerHeaderActiveBorder:1px solid $primaryColor;
$containerHeaderActiveTextColor:$primaryColorText;
$containerHeaderActiveIconColor:$primaryColorText;

$containerHeaderActiveHoverBgColor:$primaryDarkColor;
$containerHeaderActiveHoverHoverBorder:1px solid $primaryDarkColor;
$containerHeaderActiveHoverrTextColor:$primaryDarkColorText;
$containerHeaderActiveHoverIconColor:$primaryDarkColorText;

@import '../sass/theme/_theme';