//mainly used in forms
$primaryColor:#005a9e;
$primaryColorText:#ffffff;
$primaryDarkColor:#073f69;
$primaryDarkColorText:#ffffff;
$primaryDarkAltColor:#03487c;
$primaryDarkAltColorText:#ffffff;
$primaryDarkerColor:#102f46;
$primaryDarkerColorText:#ffffff;
$primaryLightColor:#61ade8;
$primaryLightColorText:#333333;

//highlighted content
$secondaryColor:#ffd86d;
$secondaryColorText:#333333;
$secondaryDarkColor:#ffb900;
$secondaryDarkColorText:#333333;

//headers
$containerHeaderBgColor:#333333;
$containerHeaderBorder:1px solid #333333;
$containerHeaderTextColor:#ffffff;
$containerHeaderIconColor:#d6d6d6;
$containerHeaderIconHoverColor:#ffffff;

$containerHeaderHoverBgColor:#282828;
$containerHeaderHoverBorder:1px solid #282828;
$containerHeaderHoverTextColor:#ffffff;
$containerHeaderHoverIconColor:#ffffff;

$containerHeaderActiveBgColor:$primaryColor;
$containerHeaderActiveBorder:1px solid $primaryColor;
$containerHeaderActiveTextColor:$primaryColorText;
$containerHeaderActiveIconColor:$primaryColorText;

$containerHeaderActiveHoverBgColor:$primaryDarkColor;
$containerHeaderActiveHoverHoverBorder:1px solid $primaryDarkColor;
$containerHeaderActiveHoverrTextColor:$primaryDarkColorText;
$containerHeaderActiveHoverIconColor:$primaryDarkColorText;

@import '../sass/theme/_theme';