//mainly used in forms
$primaryColor:#ea5c86;
$primaryColorText:#ffffff;
$primaryDarkColor:#d82358;
$primaryDarkColorText:#ffffff;
$primaryDarkAltColor:#e13e6e;
$primaryDarkAltColorText:#ffffff;
$primaryDarkerColor:#a4123d;
$primaryDarkerColorText:#ffffff;
$primaryLightColor:#efadc1;
$primaryLightColorText:#333333;

//highlighted content
$secondaryColor:#9df2c7;
$secondaryColorText:#333333;
$secondaryDarkColor:#61c593;
$secondaryDarkColorText:#333333;

//headers
$containerHeaderBgColor:#333333;
$containerHeaderBorder:1px solid #333333;
$containerHeaderTextColor:#ffffff;
$containerHeaderIconColor:#d6d6d6;
$containerHeaderIconHoverColor:#ffffff;

$containerHeaderHoverBgColor:#282828;
$containerHeaderHoverBorder:1px solid #282828;
$containerHeaderHoverTextColor:#ffffff;
$containerHeaderHoverIconColor:#ffffff;

$containerHeaderActiveBgColor:$primaryColor;
$containerHeaderActiveBorder:1px solid $primaryColor;
$containerHeaderActiveTextColor:$primaryColorText;
$containerHeaderActiveIconColor:$primaryColorText;

$containerHeaderActiveHoverBgColor:$primaryDarkColor;
$containerHeaderActiveHoverHoverBorder:1px solid $primaryDarkColor;
$containerHeaderActiveHoverrTextColor:$primaryDarkColorText;
$containerHeaderActiveHoverIconColor:$primaryDarkColorText;

@import '../sass/theme/_theme';