//mainly used in forms
$primaryColor:#dd8400;
$primaryColorText:#ffffff;
$primaryDarkColor:#b16419;
$primaryDarkColorText:#ffffff;
$primaryDarkAltColor:#c6740a;
$primaryDarkAltColorText:#ffffff;
$primaryDarkerColor:#7f4214;
$primaryDarkerColorText:#ffffff;
$primaryLightColor:#76e3d1;
$primaryLightColorText:#333333;

//highlighted content
$secondaryColor:#98d9ff;
$secondaryColorText:#333333;
$secondaryDarkColor:#68a8ce;
$secondaryDarkColorText:#333333;

//headers
$containerHeaderBgColor:#f4f4f4;
$containerHeaderBorder:1px solid #c8c8c8;
$containerHeaderTextColor:#333333;
$containerHeaderIconColor:#848484;
$containerHeaderIconHoverColor:#333333;

$containerHeaderHoverBgColor:#dbdbdb;
$containerHeaderHoverBorder:1px solid #dbdbdb;
$containerHeaderHoverTextColor:#333333;
$containerHeaderHoverIconColor:#333333;

$containerHeaderActiveBgColor:$primaryColor;
$containerHeaderActiveBorder:1px solid $primaryColor;
$containerHeaderActiveTextColor:$primaryColorText;
$containerHeaderActiveIconColor:$primaryColorText;

$containerHeaderActiveHoverBgColor:$primaryDarkColor;
$containerHeaderActiveHoverHoverBorder:1px solid $primaryDarkColor;
$containerHeaderActiveHoverrTextColor:$primaryDarkColorText;
$containerHeaderActiveHoverIconColor:$primaryDarkColorText;

@import '../sass/theme/_theme';